@charset "UTF-8";
.main {
  height: 100vh;
}

body {
  color: #4e454a;
  background-image: url(/images/UserBack1.jpg?58d3aac52ed6005519704ae11e8285c0);
  background-repeat: repeat;
  background-size: 30% auto;
  font-family: "Zen Maru Gothic", sans-serif;
}

.brand_name {
  font-family: "Fredericka the Great", cursive;
}

.notebox {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
}

.notebox .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.notebox p {
  margin: 0;
  padding: 0;
}

.switch {
  text-decoration: none;
}

.fragrance {
  display: none;
}

.index {
  padding: 10px;
  margin: 30px;
  border: 2px solid white;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

a {
  color: #594e52;
  text-decoration: none;
}

.line {
  border-bottom: 1px dashed;
}

.test {
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar {
  width: 80%;
}

.info {
  padding: 60px;
  margin: 30px;
  border: 2px solid white;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.centering_item {
  margin: 0 auto;
  text-align: center;
}

.comment_box {
  position: relative;
  margin-top: 1em;
  padding: 1.8em 1.5em 1em 1.5em;
  border: 2px solid #ad96b6;
  background-color: rgba(255, 255, 255, 0.4);
}

.comment_box > div {
  position: absolute;
  top: -1.15em;
  left: -0.5em;
  padding: 0.4em 1.4em;
  border-radius: 5px;
  background-color: #ad96b6;
  color: #fff;
  font-size: 0.9em;
}

.comment_box > div::before {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 8px;
  background-color: #ad96b6;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
}

.comment_box p {
  margin: 0;
}

.box_main {
  margin: 2em auto;
  padding: 2em; /*内側余白*/
  position: relative;
  padding: 1.5em !important;
  z-index: 0;
  background-color: #efede9; /*背景色*/
}

.box_main:before {
  position: absolute;
  border: 2px dashed #A7A297; /*破線の太さ・色*/
  content: "";
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 5px;
  z-index: -1;
  border-radius: 10px;
}
